contextlib2
ninja
# netifaces
accelerate
bitsandbytes==0.39.0
transformers>=4.35.0
torch==2.1.2
ray[default]==2.9.1
sentencepiece
pyarrow==12.0.1
sentence-transformers
datasets
langchain
paramiko
einops
tqdm
loguru
pyjava==0.6.15
tiktoken
transformers_stream_generator
optimum
fastapi
uvicorn
retrying
zhipuai
dashscope
tiktoken
tabulate
jupyter_client
prompt-toolkit
llama_index
# selenium
# dependencies only for sparkdesk
# websockets
websocket-client
sqlmodel

# dependencies only for saas/chatglm
wudao

# dependencies only for visualglm
SwissArmyTransformer

# dependencies only for chatglm
jieba
# rouge_chinese
# icetk

# dependencies only for stable_diffusion
# safetensors
# pydantic
# nltk
# pillow
# diffusers
# lycoris
# lycoris-lora
## the package above will downgrade the tokenizers, so here we need to force lock the version
# tokenizers==0.13.3

# camelot-py
# llama_index
byzerllm>=0.1.66
GitPython
openai>=1.14.3
anthropic
google-generativeai
protobuf