contextlib2
ninja
jinja2
rich
# netifaces
# accelerate
# bitsandbytes>=0.39.0
# transformers>=4.35.0
# torch>=2.1.2
# ray[default]>=2.9.1
# sentencepiece
# sentence-transformers
# transformers_stream_generator
# optimum
# einops
# pyarrow
# datasets
# langchain

paramiko

tqdm
loguru
pyjava>=0.6.21
fastapi
uvicorn
retrying
zhipuai
dashscope
tiktoken
tabulate
jupyter_client
prompt-toolkit
tokenizers

# dependencies only for stable_diffusion
# safetensors
# pydantic
# nltk
# pillow
# diffusers
# lycoris
# lycoris-lora
## the package above will downgrade the tokenizers, so here we need to force lock the version
# tokenizers==0.13.3

# camelot-py
# llama_index
byzerllm[saas]>=0.1.155
patch
diff_match_patch
GitPython
openai>=1.14.3
anthropic
google-generativeai
protobuf
azure-cognitiveservices-speech
real_agent

python-docx
docx2txt
pdf2image
# Spire.Doc
docx2pdf
pyperclip
colorama
pylint
reportlab
pathspec
# simpleaudio
# pandoc
# pypandoc
openpyxl
python-pptx
watchfiles
cairosvg
matplotlib
mammoth
markdownify
pdfminer.six
puremagic
pydub
youtube-transcript-api
SpeechRecognition
pathvalidate
mcp