body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
}

form {
  display: flex;
  flex-direction: column;
}

label, input {
  margin: 5px 0;
}